<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Portal 1</title>
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/custom.css" rel="stylesheet">
</head>

<body style="background-color:hwb(210 71% 1%);">
    <!-- Navigation -->
    <nav class="navbar navbar-inverse navbar-static-top" role="navigation" id="grad3" style="background-color:hsl(0, 0%, 100%);">
        <div class="container">
            <!-- Logo and responsive toggle -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar">
                    <span class="sr-only" style="color:hwb(0 24% 26%);">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#" style="color:hwb(0 0% 100%);"><span class="glyphicon glyphicon-globe" style="color:hwb(0 0% 100%);"></span> CROP RECOMMENDATION SYSTEM</a>
            </div>
            <!-- Navbar links -->
            <div class="collapse navbar-collapse" id="navbar" >
                <ul class="nav navbar-nav">
                    <li class="active">
                        <a href="#" style="color:hwb(0 98% 1%);">Home</a>
                    </li>
                    <li>
                        <a href="#" style="color:hwb(0 0% 100%);">About ML Model</a>
                    </li>   
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>

<div class="container-fluid" >
		<!-- Left Column -->
		<div class="col-sm-3">

			<!-- List-Group Panel -->
			
		</div><!--/Left Column-->
		<!-- Center Column -->
		<div class="col-sm-6">
			<!-- Articles -->
			<div class="row">
				<article class="col-xs-12">
					<h2>Crop Recommendation System</h2>
					<p>		Crop Recommendation System predicts, what crop type would be the most suitable for the selected area by collecting the environmental factors for plant growth and processing them.</p>
					<p>Please Login to use the recommendation system</p>
				</article>
			</div>
			
			<div class="panel panel-default">
				<div class="panel panel-default" id="grad3" >
					<div class="panel-heading" style="background-color:hwb(219 29% 0%);">
						<h3 class="panel-title" style="color:hwb(0 0% 100%);">
							Details
						</h3>
					</div>
					<div class="panel-body">
						<form>
							<div class="form-group">
								<input type="text" class="form-control" id="uid" name="uid" placeholder="Name">
							</div>
							<div class="form-group">
								<td><input type="radio" name="gender" id="Male" value="1"></td>
								<td>Male</td>
								<td><input type="radio" name="gender" id="Female" value="1"></td>
								<td>Female</td>
							</div>
							<div class="form-group">
								<input type="email" class="form-control" id="email" name="email" placeholder="Email">
							</div>
							<div class="form-group">
								<input type="password" class="form-control" id="pwd" name="pwd" placeholder="Create Password">
							</div>
							<div class="form-group">
								<input type="text" class="form-control" id="country" name="country" placeholder="Country" oninput="this.value = this.value.toUpperCase()"/>
			
							</div>
							<button type="submit" class="btn btn-default">Register</button>
						</form>
					</div>
				</div>
		</div>
			<hr>
		</div>
	  <!-- Right Column -->
	  <div class="col-sm-3">

			<!-- Form --> 
			
	  </div>
	</div><!--/container-fluid-->
	<footer>
		<div class="footer-blurb">
			<div class="container">
				<div class="row">
					<div class="col-sm-3 footer-blurb-item">
						<h3><span class="glyphicon glyphicon-text-size"></span>Elements</h3>
						<p>The core element of a web page is a text file written in the HyperText Markup Language (HTML) that describes the content of the web page and includes references to other web resources. A web page is a structured document that primarily consists of hypertext, text with hyperlinks.</p>
					</div>
					<div class="col-sm-3 footer-blurb-item">
						<h3><span class="glyphicon glyphicon-text-size"></span>Navigation</h3>
						<p>Each web page is identified by a distinct Uniform Resource Locator (URL). When the user inputs the URL for a web page into their browser, the browser downloads an HTML file from a web server and transforms all of  </p>
					</div>
					<div class="col-sm-3 footer-blurb-item">
						<h3><span class="glyphicon glyphicon-text-size"></span>Deployment</h3>
						<p>From the perspective of server-side website deployment, there are two types of web pages: static and dynamic. Static pages are retrieved from the web server's file system without any modification,</p>
					</div>
				</div>
				<!-- /.row -->	
			</div>
        </div>
	</footer>
    <!-- jQuery -->
    <script src="js/jquery-1.11.3.min.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="js/bootstrap.min.js"></script>
	
	<!-- IE10 viewport bug workaround -->
	<script src="js/ie10-viewport-bug-workaround.js"></script>
	
	<!-- Placeholder Images -->
	<script src="js/holder.min.js"></script>
	
</body>

</html>
